<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Imgen | Home</title>
</head>
<header class="bg-dark">
    <nav class="d-flex justify-content-center justify-content-between mx-auto" style="width: 1200px;">
        <img href="/" src="/static/logo.png" class="w-25 p-1 btn" alt="logo">
        <div class="d-flex justify-content-end text-center text-light align-items-center py-2">
            <div>
                <a href="/team" class="btn text-light"><strong>Our Team</strong></a> |
                <a href="/publications" class="btn text-light"><strong>Publications</strong></a> |
                <a href="/rc" class="btn text-light"><strong>Research & Collaborators</strong></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="text-bg-secondary d-flex p-3"></div>
    <div class="mx-auto m-4" style="width: 1200px;">
        <p>
            <strong>Imgen LLC</strong>, is a private research and medical legal consulting company. Learn more about the
            medical legal consulting side of Imgen here! <a href="https://www.linkedin.com/in/travis-snyder-489b9884/">Linkedin.com/Travis-Snyder</a>
        </p>
        <p>
            The Imgen Research Group was founded by the late Dr. William W. Orrison to expand the use of
            advanced imaging in modern neurological practice. In pursuit of his vision, Imgen leads research
            and educational initiatives to more clearly define how advanced neuroimaging can be used in the
            diagnosis and management of neurological conditions. Each of our projects are designed to clearly
            define how cutting-edge advances in medical imaging can be integrated into clinical practice.
        </p>
        <p>
            The research we do at Imgen has a strong clinical focus, as we integrate cutting edge medical
            imaging techniques into the clinical management of brain injury and disease. Ongoing research
            interests involve patients affected by mild traumatic brain injury, carbon monoxide exposure, or
            Alzheimer’s disease.
        </p>
        <dl>
            <dt>Neuroimaging magnetic resonance imaging modalities we study:</dt>
            <dd class="m-3">
                <strong>Volumetrics</strong>: Injury can cause changes in the volume of brain regions, which in turn may be
                related to whether a symptom arises and how long it persists. Automated methods for
                measuring volumes in the brain and many sub-regions now allow researchers and clinicians
                alike to use volumetrics as a readily accessible tool (Ross et al. 2022).
            </dd>
            <dd class="m-3">
                <strong>Diffusion-weighted imaging (DWI) / Diffusion Tensor Imaging (DTI)</strong>: Volume is not always
                indicative of the extent to which brain tissues are damaged. DTI is way of looking at the
                movement of water molecules to assess whether the microstructure of tissue appears to be
                intact, based on the principal that healthy axons will constrain diffusion more than damaged
                axons. DTI is a promising technique for improving patient care (e.g., Palacios et al. 2022).
            </dd>
            <dd class="m-3">
                <strong>Functional MRI (fMRI)</strong>: As its name suggests, fMRI is an assessment of brain function. It is
                based on changes in blood flow when particular tasks are being performed, working on the
                principle that blood flow tends to go where neurons are activated. Information about how
                brain regions function together after an injury can reveal more about brain functioning after
                injury (reviewed in Puig et al. 2020).
            </dd>
            <dd class="m-3">
                <strong>Arterial Spin Labeling (ASL) MR Perfusion</strong>: This technique measures blood flow in the
                arteries of brain tissues. The blood is magnetically labeled, so there is no use of radioactive
                tracers, making it particularly useful for pediatric patients. ASL is generally used to assess
                whether there are changes in cerebral blood flow after injuries (reviewed in Wang et al.
                2023).
            </dd>
            <dd class="m-3">
                <strong>Susceptibility Weighted Imaging (SWI)</strong>: This technique measures venous blood, and it can
                identify damage due to traumatic brain injury, hemorrhages, and iron in the neural tissues.
                It is particularly useful in detecting microbleeds after injury, which can affect the severity
                and longevity of cognitive and perhaps other types of symptoms (reviewed in Hageman et
                al. 2022).
            </dd>
        </dl>
        <div class="p-2">
            <img href="/" src="/static/brain_scan.jpeg" class="mx-auto d-block p-1 border border-secondary" style="width: 1000px;"></img>
        </div>
        <div>
            <h5><strong>REFERENCES</strong></h5>
            <p>
                Hageman G, Hof J, Nihom J. Susceptibility-Weighted MRI and Microbleeds in Mild Traumatic
                Brain Injury: Prediction of Posttraumatic Complaints? Eur Neurol. 2022;85(3):177-185.
            </p>
            <p>
                Palacios EM, Yuh EL, Mac Donald CL, Bourla I, Wren-Jarvis J, Sun X, Vassar MJ, Diaz-Arrastia R,
                Giacino JT, Okonkwo DO, Robertson CS, Stein MB, Temkin N, McCrea MA, Levin HS, Markowitz
                AJ, Jain S, Manley GT, Mukherjee P; TRACK-TBI Investigators. Diffusion Tensor Imaging Reveals
                Elevated Diffusivity of White Matter Microstructure that Is Independently Associated with
                Long-Term Outcome after Mild Traumatic Brain Injury: A TRACK-TBI Study. J Neurotrauma.
                2022 Oct;39(19-20):1318-1328.
            </p>
            <p>
                Puig J, Ellis MJ, Kornelsen J, et al. Magnetic Resonance Imaging Biomarkers of Brain Connectivity
                in Predicting Outcome after Mild Traumatic Brain Injury: A Systematic Review. Journal of
                Neurotrauma. 2020 Aug;37(16):1761-1776.
            </p>
            <p>
                Ross DE, Seabaugh J, Seabaugh JM, Barcelona J, Seabaugh D, Wright K, Norwind L, King Z,
                Graham TJ, Baker J, Lewis T. Updated Review of the Evidence Supporting the Medical and Legal
                Use of NeuroQuant ®  and NeuroGage ®  in Patients With Traumatic Brain Injury. Front Hum
                Neurosci. 2022 Apr 8;16:715807.
            </p>
            <p>
                Wang, Y., Bartels, H.M. &amp; Nelson, L.D. A Systematic Review of ASL Perfusion MRI in Mild
                TBI. Neuropsychol Rev 33, 160–191 (2023).
            </p>
        </div>
    </div>
    <footer class="bg-dark">
        <di class="d-flex justify-content-between mx-auto" style="width: 1200px;">
            <ul class="list-unstyled m-3">
                <a href="/team" class="btn text-light">Our Team</a> |
                <a href="/publications" class="btn text-light">Publications</a> |
                <a href="/about" class="btn text-light">Research & Collaborators</a>
            </ul>
            <ul class="list-unstyled m-3">
                <a href="/terms" class="btn text-light">Terms Of Service</a> |
                <a href="/privacy" class="btn text-light">Privacy Policy</a>
            </ul>
        </di>
    </footer>
</body>
</html>